<%= form_with(model: car, local: true) do |form| %>

  <% if @person %>
    <%= hidden_field_tag 'person', @person.id %>
  <% end %>


  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :make %>
    <%= form.text_field :make, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :color %>
    <%= form.text_field :color, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :mileage %>
    <%= form.text_field :mileage, class: 'form-control', type: 'number' %>
  </div>

  <div class="form-check p-5">
    <label for="is_for_sale" class="form-check-label mr-3">
      For sale?
    </label>
    <%= form.check_box :is_for_sale, class: 'form-check-input' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
